<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>W</key>
		<string>250</string>
		<key>H</key>
		<string>300</string>
		<key>shopPicture</key>
		<string>http://z2.tuanimg.com/imagev2/trade/800x800.04d27b2c9eaf76495e8dcf410413cd20.400x.jpg</string>
		<key>shopName</key>
		<string>美丽的上衣</string>
	</dict>
	<dict>
		<key>W</key>
		<string>200</string>
		<key>H</key>
		<string>200</string>
		<key>shopPicture</key>
		<string>http://z2.tuanimg.com/imagev2/trade/800x800.04d27b2c9eaf76495e8dcf410413cd20.400x.jpg</string>
		<key>shopName</key>
		<string>时尚美郎</string>
	</dict>
	<dict>
		<key>W</key>
		<string>200</string>
		<key>H</key>
		<string>200</string>
		<key>shopPicture</key>
		<string>http://pic.58pic.com/58pic/15/67/84/05f58PICUAF_1024.jpg</string>
		<key>shopName</key>
		<string>时尚美郎</string>
	</dict>
	<dict>
		<key>W</key>
		<string>200</string>
		<key>H</key>
		<string>200</string>
		<key>shopPicture</key>
		<string>http://z2.tuanimg.com/imagev2/trade/800x800.04d27b2c9eaf76495e8dcf410413cd20.400x.jpg</string>
		<key>shopName</key>
		<string>时尚美郎</string>
	</dict>
	<dict>
		<key>W</key>
		<string>200</string>
		<key>H</key>
		<string>200</string>
		<key>shopPicture</key>
		<string>http://z2.tuanimg.com/imagev2/trade/800x800.04d27b2c9eaf76495e8dcf410413cd20.400x.jpg</string>
		<key>shopName</key>
		<string>时尚美郎</string>
	</dict>
	<dict>
		<key>W</key>
		<string>200</string>
		<key>H</key>
		<string>200</string>
		<key>shopPicture</key>
		<string>http://z2.tuanimg.com/imagev2/trade/800x800.04d27b2c9eaf76495e8dcf410413cd20.400x.jpg</string>
		<key>shopName</key>
		<string>时尚美郎</string>
	</dict>
	<dict>
		<key>W</key>
		<string>210</string>
		<key>H</key>
		<string>250</string>
		<key>shopPicture</key>
		<string>http://img2.imgtn.bdimg.com/it/u=749640344,1456169094&amp;fm=21&amp;gp=0.jpg</string>
		<key>shopName</key>
		<string>美国的帅哥</string>
	</dict>
	<dict>
		<key>W</key>
		<string>210</string>
		<key>H</key>
		<string>250</string>
		<key>shopPicture</key>
		<string>http://img2.imgtn.bdimg.com/it/u=749640344,1456169094&amp;fm=21&amp;gp=0.jpg</string>
		<key>shopName</key>
		<string>美国的帅哥</string>
	</dict>
	<dict>
		<key>W</key>
		<string>200</string>
		<key>H</key>
		<string>250</string>
		<key>shopPicture</key>
		<string>http://img2.imgtn.bdimg.com/it/u=2351738162,2198101672&amp;fm=21&amp;gp=0.jpg</string>
		<key>shopName</key>
		<string>小清新</string>
	</dict>
	<dict>
		<key>W</key>
		<string>200</string>
		<key>H</key>
		<string>250</string>
		<key>shopPicture</key>
		<string>http://img2.imgtn.bdimg.com/it/u=2351738162,2198101672&amp;fm=21&amp;gp=0.jpg</string>
		<key>shopName</key>
		<string>小清新</string>
	</dict>
	<dict>
		<key>W</key>
		<string>210</string>
		<key>H</key>
		<string>230</string>
		<key>shopPicture</key>
		<string>http://img2.imgtn.bdimg.com/it/u=2351738162,2198101672&amp;fm=21&amp;gp=0.jpg</string>
		<key>shopName</key>
		<string>小清新</string>
	</dict>
	<dict>
		<key>W</key>
		<string>210</string>
		<key>H</key>
		<string>230</string>
		<key>shopPicture</key>
		<string>http://img2.imgtn.bdimg.com/it/u=2351738162,2198101672&amp;fm=21&amp;gp=0.jpg</string>
		<key>shopName</key>
		<string>小清新</string>
	</dict>
	<dict>
		<key>W</key>
		<string>210</string>
		<key>H</key>
		<string>230</string>
		<key>shopPicture</key>
		<string>http://img2.imgtn.bdimg.com/it/u=2351738162,2198101672&amp;fm=21&amp;gp=0.jpg</string>
		<key>shopName</key>
		<string>小清新</string>
	</dict>
	<dict>
		<key>W</key>
		<string>150</string>
		<key>H</key>
		<string>220</string>
		<key>shopPicture</key>
		<string>https://gss0.baidu.com/80M_cCml_AoJksuboYuT_XF5eBk7hKzk-cq/bos_1460618549852206_1147.jpg</string>
		<key>shopName</key>
		<string>魔女</string>
	</dict>
	<dict>
		<key>W</key>
		<string>150</string>
		<key>H</key>
		<string>220</string>
		<key>shopPicture</key>
		<string>https://gss0.baidu.com/80M_cCml_AoJksuboYuT_XF5eBk7hKzk-cq/bos_1460618549852206_1147.jpg</string>
		<key>shopName</key>
		<string>魔女</string>
	</dict>
	<dict>
		<key>W</key>
		<string>180</string>
		<key>H</key>
		<string>299</string>
		<key>shopPicture</key>
		<string>https://gss0.baidu.com/80M_cCml_AoJksuboYuT_XF5eBk7hKzk-cq/bos_1468387565596678_1166.jpg</string>
		<key>shopName</key>
		<string>清新派</string>
	</dict>
	<dict>
		<key>W</key>
		<string>190</string>
		<key>H</key>
		<string>210</string>
		<key>shopPicture</key>
		<string>https://gss0.baidu.com/80M_cCml_AoJksuboYuT_XF5eBk7hKzk-cq/bos_1470014665.74_735871_29518.jpg</string>
		<key>shopName</key>
		<string>幸福的情侣</string>
	</dict>
	<dict>
		<key>W</key>
		<string>190</string>
		<key>H</key>
		<string>210</string>
		<key>shopPicture</key>
		<string>https://gss0.baidu.com/80M_cCml_AoJksuboYuT_XF5eBk7hKzk-cq/bos_1470014665.74_735871_29518.jpg</string>
		<key>shopName</key>
		<string>幸福的情侣</string>
	</dict>
	<dict>
		<key>W</key>
		<string>190</string>
		<key>H</key>
		<string>210</string>
		<key>shopPicture</key>
		<string>https://gss0.baidu.com/80M_cCml_AoJksuboYuT_XF5eBk7hKzk-cq/bos_1470014665.74_735871_29518.jpg</string>
		<key>shopName</key>
		<string>幸福的情侣</string>
	</dict>
	<dict>
		<key>W</key>
		<string>250</string>
		<key>H</key>
		<string>300</string>
		<key>shopPicture</key>
		<string>http://z2.tuanimg.com/imagev2/trade/800x800.04d27b2c9eaf76495e8dcf410413cd20.400x.jpg</string>
		<key>shopName</key>
		<string>美丽的上衣</string>
	</dict>
	<dict>
		<key>W</key>
		<string>250</string>
		<key>H</key>
		<string>300</string>
		<key>shopPicture</key>
		<string>http://z2.tuanimg.com/imagev2/trade/800x800.04d27b2c9eaf76495e8dcf410413cd20.400x.jpg</string>
		<key>shopName</key>
		<string>美丽的上衣</string>
	</dict>
	<dict>
		<key>W</key>
		<string>250</string>
		<key>H</key>
		<string>300</string>
		<key>shopPicture</key>
		<string>http://z2.tuanimg.com/imagev2/trade/800x800.04d27b2c9eaf76495e8dcf410413cd20.400x.jpg</string>
		<key>shopName</key>
		<string>美丽的上衣</string>
	</dict>
	<dict>
		<key>W</key>
		<string>250</string>
		<key>H</key>
		<string>300</string>
		<key>shopPicture</key>
		<string>http://z2.tuanimg.com/imagev2/trade/800x800.04d27b2c9eaf76495e8dcf410413cd20.400x.jpg</string>
		<key>shopName</key>
		<string>美丽的上衣</string>
	</dict>
	<dict>
		<key>W</key>
		<string>250</string>
		<key>H</key>
		<string>300</string>
		<key>shopPicture</key>
		<string>http://z2.tuanimg.com/imagev2/trade/800x800.04d27b2c9eaf76495e8dcf410413cd20.400x.jpg</string>
		<key>shopName</key>
		<string>美丽的上衣</string>
	</dict>
	<dict>
		<key>W</key>
		<string>250</string>
		<key>H</key>
		<string>300</string>
		<key>shopPicture</key>
		<string>http://z2.tuanimg.com/imagev2/trade/800x800.04d27b2c9eaf76495e8dcf410413cd20.400x.jpg</string>
		<key>shopName</key>
		<string>美丽的上衣</string>
	</dict>
	<dict>
		<key>W</key>
		<string>250</string>
		<key>H</key>
		<string>300</string>
		<key>shopPicture</key>
		<string>http://z2.tuanimg.com/imagev2/trade/800x800.04d27b2c9eaf76495e8dcf410413cd20.400x.jpg</string>
		<key>shopName</key>
		<string>美丽的上衣</string>
	</dict>
	<dict>
		<key>W</key>
		<string>200</string>
		<key>H</key>
		<string>200</string>
		<key>shopPicture</key>
		<string>http://z2.tuanimg.com/imagev2/trade/800x800.04d27b2c9eaf76495e8dcf410413cd20.400x.jpg</string>
		<key>shopName</key>
		<string>时尚美郎</string>
	</dict>
	<dict>
		<key>W</key>
		<string>200</string>
		<key>H</key>
		<string>200</string>
		<key>shopPicture</key>
		<string>http://z2.tuanimg.com/imagev2/trade/800x800.04d27b2c9eaf76495e8dcf410413cd20.400x.jpg</string>
		<key>shopName</key>
		<string>时尚美郎</string>
	</dict>
	<dict>
		<key>W</key>
		<string>200</string>
		<key>H</key>
		<string>200</string>
		<key>shopPicture</key>
		<string>http://z2.tuanimg.com/imagev2/trade/800x800.04d27b2c9eaf76495e8dcf410413cd20.400x.jpg</string>
		<key>shopName</key>
		<string>时尚美郎</string>
	</dict>
	<dict>
		<key>W</key>
		<string>200</string>
		<key>H</key>
		<string>200</string>
		<key>shopPicture</key>
		<string>http://z2.tuanimg.com/imagev2/trade/800x800.04d27b2c9eaf76495e8dcf410413cd20.400x.jpg</string>
		<key>shopName</key>
		<string>时尚美郎</string>
	</dict>
	<dict>
		<key>W</key>
		<string>200</string>
		<key>H</key>
		<string>200</string>
		<key>shopPicture</key>
		<string>http://z2.tuanimg.com/imagev2/trade/800x800.04d27b2c9eaf76495e8dcf410413cd20.400x.jpg</string>
		<key>shopName</key>
		<string>时尚美郎</string>
	</dict>
	<dict>
		<key>W</key>
		<string>200</string>
		<key>H</key>
		<string>200</string>
		<key>shopPicture</key>
		<string>http://z2.tuanimg.com/imagev2/trade/800x800.04d27b2c9eaf76495e8dcf410413cd20.400x.jpg</string>
		<key>shopName</key>
		<string>时尚美郎</string>
	</dict>
	<dict>
		<key>W</key>
		<string>210</string>
		<key>H</key>
		<string>250</string>
		<key>shopPicture</key>
		<string>http://img2.imgtn.bdimg.com/it/u=2351738162,2198101672&amp;fm=21&amp;gp=0.jpg</string>
		<key>shopName</key>
		<string>小清新</string>
	</dict>
	<dict>
		<key>W</key>
		<string>210</string>
		<key>H</key>
		<string>250</string>
		<key>shopPicture</key>
		<string>http://img2.imgtn.bdimg.com/it/u=2351738162,2198101672&amp;fm=21&amp;gp=0.jpg</string>
		<key>shopName</key>
		<string>小清新</string>
	</dict>
	<dict>
		<key>W</key>
		<string>210</string>
		<key>H</key>
		<string>250</string>
		<key>shopPicture</key>
		<string>http://img2.imgtn.bdimg.com/it/u=2351738162,2198101672&amp;fm=21&amp;gp=0.jpg</string>
		<key>shopName</key>
		<string>小清新</string>
	</dict>
	<dict>
		<key>W</key>
		<string>210</string>
		<key>H</key>
		<string>250</string>
		<key>shopPicture</key>
		<string>http://img2.imgtn.bdimg.com/it/u=2351738162,2198101672&amp;fm=21&amp;gp=0.jpg</string>
		<key>shopName</key>
		<string>小清新</string>
	</dict>
	<dict>
		<key>W</key>
		<string>150</string>
		<key>H</key>
		<string>220</string>
		<key>shopPicture</key>
		<string>https://gss0.baidu.com/80M_cCml_AoJksuboYuT_XF5eBk7hKzk-cq/bos_1460618549852206_1147.jpg</string>
		<key>shopName</key>
		<string>魔女</string>
	</dict>
	<dict>
		<key>W</key>
		<string>150</string>
		<key>H</key>
		<string>220</string>
		<key>shopPicture</key>
		<string>https://gss0.baidu.com/80M_cCml_AoJksuboYuT_XF5eBk7hKzk-cq/bos_1460618549852206_1147.jpg</string>
		<key>shopName</key>
		<string>魔女</string>
	</dict>
	<dict>
		<key>W</key>
		<string>150</string>
		<key>H</key>
		<string>220</string>
		<key>shopPicture</key>
		<string>https://gss0.baidu.com/80M_cCml_AoJksuboYuT_XF5eBk7hKzk-cq/bos_1460618549852206_1147.jpg</string>
		<key>shopName</key>
		<string>魔女</string>
	</dict>
	<dict>
		<key>W</key>
		<string>150</string>
		<key>H</key>
		<string>220</string>
		<key>shopPicture</key>
		<string>https://gss0.baidu.com/80M_cCml_AoJksuboYuT_XF5eBk7hKzk-cq/bos_1460618549852206_1147.jpg</string>
		<key>shopName</key>
		<string>魔女</string>
	</dict>
	<dict>
		<key>W</key>
		<string>150</string>
		<key>H</key>
		<string>220</string>
		<key>shopPicture</key>
		<string>https://gss0.baidu.com/80M_cCml_AoJksuboYuT_XF5eBk7hKzk-cq/bos_1460618549852206_1147.jpg</string>
		<key>shopName</key>
		<string>魔女</string>
	</dict>
	<dict>
		<key>W</key>
		<string>150</string>
		<key>H</key>
		<string>220</string>
		<key>shopPicture</key>
		<string>https://gss0.baidu.com/80M_cCml_AoJksuboYuT_XF5eBk7hKzk-cq/bos_1460618549852206_1147.jpg</string>
		<key>shopName</key>
		<string>魔女</string>
	</dict>
	<dict>
		<key>W</key>
		<string>150</string>
		<key>H</key>
		<string>220</string>
		<key>shopPicture</key>
		<string>https://gss0.baidu.com/80M_cCml_AoJksuboYuT_XF5eBk7hKzk-cq/bos_1460618549852206_1147.jpg</string>
		<key>shopName</key>
		<string>魔女</string>
	</dict>
	<dict>
		<key>W</key>
		<string>180</string>
		<key>H</key>
		<string>299</string>
		<key>shopPicture</key>
		<string>https://gss0.baidu.com/80M_cCml_AoJksuboYuT_XF5eBk7hKzk-cq/bos_1468387565596678_1166.jpg</string>
		<key>shopName</key>
		<string>清新派</string>
	</dict>
	<dict>
		<key>W</key>
		<string>190</string>
		<key>H</key>
		<string>210</string>
		<key>shopPicture</key>
		<string>https://gss0.baidu.com/80M_cCml_AoJksuboYuT_XF5eBk7hKzk-cq/bos_1470014665.74_735871_29518.jpg</string>
		<key>shopName</key>
		<string>幸福的情侣</string>
	</dict>
	<dict>
		<key>W</key>
		<string>250</string>
		<key>H</key>
		<string>300</string>
		<key>shopPicture</key>
		<string>http://z2.tuanimg.com/imagev2/trade/800x800.04d27b2c9eaf76495e8dcf410413cd20.400x.jpg</string>
		<key>shopName</key>
		<string>美丽的上衣</string>
	</dict>
	<dict>
		<key>W</key>
		<string>200</string>
		<key>H</key>
		<string>200</string>
		<key>shopPicture</key>
		<string>http://z2.tuanimg.com/imagev2/trade/800x800.04d27b2c9eaf76495e8dcf410413cd20.400x.jpg</string>
		<key>shopName</key>
		<string>时尚美郎</string>
	</dict>
	<dict>
		<key>W</key>
		<string>180</string>
		<key>H</key>
		<string>299</string>
		<key>shopPicture</key>
		<string>https://gss0.baidu.com/80M_cCml_AoJksuboYuT_XF5eBk7hKzk-cq/bos_1468387565596678_1166.jpg</string>
		<key>shopName</key>
		<string>清新派</string>
	</dict>
	<dict>
		<key>W</key>
		<string>180</string>
		<key>H</key>
		<string>299</string>
		<key>shopPicture</key>
		<string>https://gss0.baidu.com/80M_cCml_AoJksuboYuT_XF5eBk7hKzk-cq/bos_1468387565596678_1166.jpg</string>
		<key>shopName</key>
		<string>清新派</string>
	</dict>
</array>
</plist>
